<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to <%= web.name %> ...</title>

    <!-- Meta tags for SEO and Open Graph -->
    <meta name="description" content="<%= web.desc %>">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="<%= web.name %>">
    <meta property="og:description" content="<%= web.desc %>">
    <meta property="og:url" content="<%= web.base_url %>">
    <meta property="og:type" content="website">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= web.name %>">
    <meta name="twitter:description" content="<%= web.desc %>">

</head>

<body>
  

</body>

</html>